{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
	<title>Contato - DGWEB Soluções digitais para você sua empresa</title>
{% endblock %}

{% block menu %}
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
						<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="{% url 'inicio' %}"><i class="fas fa-home"></i> Home<span class="sr-only">(página atual)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{% url 'sobre' %}"><i class="fas fa-users"></i> Sobre Nós</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-toolbox"></i> Soluções</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
											<a class="dropdown-item" href="{% url 'desenvolvimento' %}">Desenvolvimento de Site</a>
											<a class="dropdown-item" href="{% url 'manutencao' %}">Manutenção de Websites</a>
											<a class="dropdown-item" href="{% url 'marketing' %}">Marketing Digital</a>
											<a class="dropdown-item" href="{% url 'consultoria' %}">Consultoria Web</a>
									</div>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="{% url 'contato' %}"><i class="fas fa-envelope"></i> Contato</a>
								</li>
						</ul>
				</div>
		</nav>


{% endblock %}

{% block destaque %}
	<div class="container destaque">
			<div class="row">
						<div class="col-sm-12 imgdestaque">
								<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
						</div>
			</div>
	</div>
	<div class="container destaque2">
			<div class="row">
						<div class="col-sm-12">
							<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis dui sed varius scelerisque. Proin semper, nulla ac bibendum accumsan, ex risus semper sem.adipiscing Proin mollis dui sed varius scelerisquelerisque. Proin semper, nulla ac bibendum accumsan, ex risus semper sem.adipiscier sem.adipiscing elit. Proin mollis dui sed varius scelerisqueleris.</p>
						</div>
			</div>
	</div>
{% endblock %}




{% block conteudo %}
{% endblock %}
